.form-field {
  width: 100%;
  padding: 6px;
  border: 1px solid $light-gray-1;
  height: 40px;
  background: $white-color;
  border-radius: 4px;
}
.label {
  font-size: 0.75rem;
  margin-bottom: 5px;
  padding-bottom: 6px;
  display: block;
  span {
    color: $error;
  }
}
.form-section {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }
  .col-half {
    width: 50%;
    padding: 6px;
  }
  .col-full {
    width: 100%;
    padding: 6px;
  }
}
