<div class="popup-modal">
  <div class="popup-container">
    <div class="popup-header">
      <h3 class="popup-title">
        {{ actionType === "edit" ? "Edit" : "Add" }} Employee
      </h3>
      <button
        class="button btn-secondry icon-type-btn popup-button"
        (click)="closeModal()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <form [formGroup]="actionUserDetails">
      <div class="popup-content">
        <div class="form-section">
          <div class="form-row">
            <div class="col-full">
              <label class="label">Employee Name<span>*</span></label>
              <input type="text" formControlName="name" class="form-field" />
            </div>
            <!-- form-col-full-->
          </div>
          <!-- form-row-close-->

          <div class="form-row">
            <div class="col-half">
              <label class="label">Roles<span>*</span></label>
              <select class="form-field" formControlName="role">
                <option value="" disabled selected>Select your role</option>
                <option value="{{ role.value }}" *ngFor="let role of rolesList">
                  {{ role.label }}
                </option>
              </select>
            </div>
            <!-- form-col-close-->
            <div class="col-half">
              <label class="label">Age<span>*</span></label>
              <input
                type="text"
                class="form-field"
                placeholder="Age"
                formControlName="age"
              />
            </div>
            <!-- form-col-close-->
          </div>
          <!-- form-row-close-->

          <div class="form-row">
            <div class="col-half">
              <label class="label">Start Date<span>*</span></label>
              <input
                type="date"
                class="form-field"
                formControlName="startDate"
              />
            </div>
            <!-- form-col-close-->
            <div class="col-half">
              <label class="label">End Date</label>
              <input type="date" class="form-field" formControlName="endDate" />
            </div>
            <!-- form-col-close-->
          </div>
          <!-- form-row-close-->
        </div>
      </div>
      <!-- popup content close-->

      <div class="popup-footer">
        <div class="btn-group">
          <button type="button" class="button btn-secondry btn-medium" (click)="closeModal()">
            Cancel
          </button>
          <button
            type="button"
            [disabled]="!(actionUserDetails.valid && actionUserDetails.dirty)"
            (click)="actionDetails(viewEmployeeDetails?.i ?? 0)"
            class="button btn-primary btn-medium"
            [ngClass]="{ 'disabled-button': !(actionUserDetails.valid && actionUserDetails.dirty)}"
          >
            {{ actionType === "edit" ? "Update" : "Add" }} Details
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
